fastapi
uvicorn
pydantic
pydantic[email]
python-dotenv
fastapi-mail
transformers
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch--cpu
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl